$primary: #83796d;
$primary-darker: #c2b59b;
$primary-dark: #d3cbb9;
$secondary: #ccc;
$primary-light: #eaeaea;
$primary-lighter: #fdfbfb;

$white: #ffffff;

$text: #333333;

$black: #000000;

$gray: #f2f4f7;
$gray-2: #d0d5dd;

$success: #12b76a;
$success-light: #d1fadf;
$success-dark: #027a48;

$error: #d92d20;
$error-light: #fee4e2;

$warning-700: #b54708;
$warning-500: #f79009;
$warning-50: #fffaeb;

$success-300: #6ce9a6;
