@use '../../styles/mixins.scss' as m;
@use '../../styles/variables.scss' as v;
@use '../../styles/colors.scss' as c;

.container {
  height: 180px;
  width: 100%;
  overflow: hidden;

  .map-container {
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 150px;
}
